html, body {
    margin: 0;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    background-color: #83C5BE;
}

body {
    background-color: #EDF6F9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary, .btn-primary:visited {
    color: white;
    background-color: #F28F3B !important;
}

.btn-primary:hover, .btn-primary:active {
    border-color: #C8553D !important;
    background-color: #C8553D !important;
}

.btn-primary {
    border-color: #F28F3B;
}

.header-bouton-utilisateur>* {
    color: white;
}

.header-bouton-utilisateur>a {
    text-decoration: none;
}

footer {
    background-color: #83C5BE;
    color: white;
}

.footer-left a {
    text-decoration: none;
    color: white;
}

.footer-right a {
    text-decoration: none;
    color: white;
}

#quiSommesNous {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #F28F3B;
}

.card-produit {
    width: 250px;
    height: 200px;
    background-color: #FFEEDD;
}

.card-img-top {
    width: 250px;
    height: 110px;
}

.card-img-top>img {
    height: 110px;
}

.card-title>a {
    color: black;
    text-decoration: none;
}


@media only screen and (max-width: 480px) {
    html, body {
        overflow: scroll;
    }
}